.secondary-navigation
  %ul
    %li= link_to('Show Parent', databag_url(params[:databag_id]))
    %li{ :class => (active == 'create' ? "active" : '')}= link_to('Create', new_databag_databag_item_url(@databag_name))
    - if active != 'create' && active != 'index'
      %li{ :class => (active == 'edit' ? "active" : '')}= link_to('Edit', edit_databag_databag_item_url(@databag_name, @databag_item_name))
      %li= link_to('Delete', databag_databag_item_url(@databag_name, @databag_item_name), :method => "delete", :confirm => "Really delete Databag Item #{@databag_item_name}? There is no undo.")
  .clear
