.secondary-navigation
  %ul
    - if current_user.admin?
      %li{ :class => "first #{active == 'index' ? "active" : ''}"}= link_to('List', users_path)
    - if current_user.admin?
      %li{ :class => (active == 'create' ? "active" : '')}= link_to('Create', new_user_path)
    - if active != 'create' && active != 'index'
      %li{ :class => (active == 'show' ? "active" : '')}= link_to('Show', user_path(params[:user_id]))
      - if @user.admin || @user.name == params[:user_id]
        %li{ :class => (active == 'edit' ? "active" : '')}= link_to('Edit', edit_user_path(params[:user_id]))
        %li= link_to('Delete', user_path(params[:user_id]), :method => :delete, :confirm => "Really delete user #{params[:user_id]}? There is no undo.")
  .clear
