.block#block-tables
  .content
    %h2.title= "Edit user: #{h @user.name}"
    .inner
      = render('navigation', :active => 'edit')

  .content.formContainer
    = form_for(@user, :html => { :class => "form"}) do |f|
      = render "shared/error_messages", :target => @user
      = f.hidden_field :name
      %div.group.form
        %p= f.label :password, :class => "label"
        %p= f.password_field :password,
          :autocomplete => 'off',
          :class        => 'password_field',
          :id           => 'user_new_password'
        %span.description New password for the User. Keep blank if you do not want to change password.

      %div.group.form
        %p= f.label :password_confirmation, :class => "label"
        %p= f.password_field :password_confirmation,
          :autocomplete => 'off',
          :class        => 'password_field',
          :id           => 'user_confirm_new_password'
        %span.description Confirm new password for the User. Keep blank if you do not want to change password.

      %div.group.form
        %p= label_tag :regenerate_private_key, "Regenerate Private Key", :class => "label"
        %p= f.check_box :regenerate_private_key
        %span.description Existing one will no longer work!

      - if can_edit_admin?(@user.name)
        %div.group
          %p= f.label :admin, :class => "label"
          %p= f.check_box :admin
          %span.description Whether or not the User is an admin.

      %div.group
        .actions-bar
          .actions= f.submit 'Save User', :id => 'edit_user_button', :class => 'button'
