- content_for :sidebar_block_notice do
  %h4 Where do I get a Login?
  %p Any existing Admin level user can create new users.
  %p To create the first user, please login with the default admin credential, which by default is (both may be different if you've set it in the application configuration):
  %p <b>username</b>: #{ChefServerWebui::Application.config.admin_user_name}
  %p <b>password</b>: #{ChefServerWebui::Application.config.admin_default_password}
  %b Please change the default password immediately after logging in!

.block#block-forms
  .content
    %h2.title Login
    .inner
  .content
    .inner
      = form_tag login_exec_users_url, :method => :post, :id => 'login', :class => 'form' do
        %div.group.form
          %p= label_tag :name, "Username", :class => "label"
          %p= text_field_tag "name", params.has_key?(:name) ? h(params[:name]) : @user.name

        %div.group.form
          %p= label_tag :password, nil, :class => "label"
          %p= password_field_tag "password", "", :class => "password_field"

        %div.group.form
          .actions-bar
            .actions= submit_tag 'login', :id => 'login_button', :class => 'button'
