.content
  .inner
    - if form_for != "edit"
      %div.group.form
        %p= label_tag :name, "Name", :class => "label"
        %p= text_field_tag "name", params.has_key?(:name) ? h(params[:name]) : @client.name, :id => "client_name"
        %span.description The name of the Client

    - if form_for == "edit"
      %div.group.form
        %p= label_tag :regen_private_key, "Private Key", :class => "label"
        %p= check_box_tag :regen_private_key, "1", false, :class => 'checkbox'
        %span.description Regenerate Private Key (Existing one will no longer work!)

    %div.group.form
      %p= label_tag :admin, "Admin", :class => "label"
      %p= check_box_tag :admin, "true", @client.admin, :id => "client_admin"
      %span.description Whether or not the Client is an admin

    = form_tag form_url, :method => :post, :id => form_id, :class => 'form' do
      %div.group
        .actions-bar
          .actions= submit_tag submit_name, :id => submit_id, :class => 'button'
