.block#block-text
  .content
    %h2
      .title
        = "#{@cookbook_id}"
        %select{:name => "choice", :onchange => "jump(this)", :size => "1"}
          - @versions.each do |version|
            - selected = @version == version
            %option{:value => show_specific_version_cookbook_url(:cookbook_id => @cookbook_id, :cb_version => version), :selected => selected }
              = version
    .inner
      .accordion
        - @cookbook_files.each do |part, files|
          - unless files.empty?
            %h4.head= link_to(part, "JavaScript:void(0);")
            .files
              - files.each do |filename, contents|
                .head= link_to(filename, "JavaScript:void(0);")
                .code
                  %pre.ruby= contents
